{% extends 'base.html.twig' %}

{% block title %}New TipoInstitucion{% endblock %}

{% block body %}
    <h1>Create new TipoInstitucion</h1>

    {{ include('tipo_institucion/_form.html.twig') }}

    <a href="{{ path('tipo_institucion_index') }}">back to list</a>
{% endblock %}
