{% extends 'base.html.twig' %}

{% block title %}Edit Acompanamiento{% endblock %}

{% block body %}
    <h1>Edit Acompanamiento</h1>

    {{ include('acompanamiento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('acompanamiento_index') }}">back to list</a>

    {{ include('acompanamiento/_delete_form.html.twig') }}
{% endblock %}
