{% extends 'base.html.twig' %}

{% block title %}New Acompanamiento{% endblock %}

{% block body %}
    <h1>Create new Acompanamiento</h1>

    {{ include('acompanamiento/_form.html.twig') }}

    <a href="{{ path('acompanamiento_index') }}">back to list</a>
{% endblock %}
