html {
  height:100%;
  margin:0;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.navbar {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  left: 0;
  position: relative;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 18px;
  margin: 0%;

}

.navbar p {
  padding: 1% 1%;
  font-size: 18px;
  width: 40%;
  margin: 0%;
}

.navbar .user-name{
  width: auto;
}

.navbar .search_div {
  position: absolute;
  left: 65%;
  right: 0px;
  margin-top: 0.555%;
  vertical-align: middle;
}

.navbar input{
  width: 30%;
  margin-top: 5px;
  height: 30px;
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 1px;
}

.navbar .b-search{
  margin-top: 5px;
  height: 30px;
  padding: 2px;
  margin-left: 5px;
  margin-right: 10%;
}

.header{
  position: relative;
  width: 100%;
  left: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
}

.footer_text {
  position: absolute;
  margin-bottom: 1%;
  bottom: 0;
  width: 100%;
  left: 10px;
}

.footer_version {
  position: absolute;
  margin-bottom: 1%;
  bottom: 0;
  width: 100%;
  right: 10px;
  text-align: right;
}

form {
    width: 600px;
    margin: 0px auto;
    padding: 150px;
    text-align: center;
}

label {
  text-align: left;
}

input {
  margin: 10px;
}

.row {
    clear: both;
    height: 100%;
    width: 80%;
  	padding: 0px;
  	margin: auto;
    text-align: center;
}

.row .column{
  display: block;
	float: left;
  margin: 5%;
  margin-left: 0%;
  margin-right: 20%;
}

.column:last-child { margin-right: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }


.span { width: 20%; }


@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span { width: 100%; }
  .navbar p { display: none;}
  .navbar a { width: 15%;}
  .navbar .b-search { margin: 0 5% 0 0;}
  .navbar input {margin: 0 1px 0 5%;}
}

.row .column h1{
  font-family: "Arial Black", Gadget, sans-serif;
}
.row .column p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.row .column button{
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;

}
