<div class="modal" id="deleteModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Borrar usuario</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="box">
        <p>¿Estás seguro que deseas borrar al usuario?</p>
        <p>No podrá ser recuperado</p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <form action="/?action=usuario_destroy" id="deleteUserForm" method="POST">
        <input name=id_user id="usuario_destroy" hidden></input>
        <button type="submit" class="button is-success">Borrar</button>
      </form>
      <button class="button" id="closed">Cancelar</button>
    </footer>
  </div>
</div>
