<div class="modal" id="viewUser">
  <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="modal-close" aria-label="close"></button>
      </header>
      <section  class="modal-card-body">
          <div class="field">
            <label class="label">Apellido</label>
            <div class="control">
              <input id="view_apellido" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input id="view_nombre" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input id="view_email" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre de usuario</label>
            <div class="control">
              <input id="view_username" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Creado el: </label>
            <div class="control">
              <input id="view_created" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Ultima actualización: </label>
            <div class="control">
              <input id="view_updated" class="input" readonly>
            </div>
          </div>
          <div class="field">
            <label class="label">Roles asignados</label>
              <div class="control">
                <table>
                  <tbody id="tbody_roles">
                  </tbody>
                </table>
              </div>
          </div>
          <div class="field">
            <label class="label">Estado</label>
            <div class="control">
              <input id="view_activo" class="input" readonly>
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-text" id="close">Cerrar</button>
      </footer>
    </div>
</div>
