<div class="modal" id="addNN">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Agregar NN</p>
      <button class="modal-close" aria-label="close">Cerrar</button>
    </header>
    <section class="modal-card-body">
      <div class="box">
        <p>¿Estás seguro que deseas agregar un paciente NN?</p>
        <p>Se actualizará la lista y se generará una nueva historia clínica</p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <form action="?action=paciente_new" method="POST">
        <input value="True" name="addNN" hidden>
        <button type="submit" class="button is-info">Agregar NN</button>
      </form>
      <button class="button" id="closed">Cancelar</button>
    </footer>
  </div>
</div>
