<div class="modal" id="viewAttention">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div id="a_title">
        <p class="modal-card-title">Ver atención</p>
      </div>
      <button class="modal-close" aria-label="close">Cerrar</button>
    </header>
    <section class="modal-card-body">
        <div class="box">
          <div class="columns">
            <div class="column">

              <div class="field">
                <label class="label">Motivo</label>
                <div class="control">
                  <div class="select is-boxed">
                    <select name="motivo" id="motivo" disabled>
                      {% for motivo in motivos %}
                        <option value="{{motivo.id}}">{{motivo.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Derivación</label>
                <div class="control">
                  <div class="select is-boxed">
                    <select name="derivacion" id="derivacion" disabled>
                      <option value="">Sin derivación</option>
                      {% for instit in instituciones %}
                        <option value="{{instit.id}}">{{instit.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Articulación con otras instituciones</label>
                <div class="control">
                  <textarea id="articulacion" type="text" class="textarea" name="articulacion" rows="2"readonly></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">Requiere internación</label>
                <div class="control">
                  <div class="select is-boxed">
                    <select name="internacion" id="internacion" disabled>
                      <option value="1">Si</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Diagnóstico*</label>
                <div class="control">
                  <textarea id="diag" class="textarea" type="text" name="diag" rows="2" readonly></textarea>
                </div>
              </div>

              <div class="field">
                <label class="label">Observaciones</label>
                <div class="control">
                  <textarea id="obs" class="textarea" type="text" name="obs" rows="2"readonly></textarea>
                </div>
              </div>

              <div class="field">
                <label class="label">Tratamiento farmacológico</label>
                <div class="control">
                  <div class="select is-boxed">
                    <select name="trat" id="trat" disabled>
                      {% for tratamiento in tratamientos %}
                        <option value="{{tratamiento.id}}">{{tratamiento.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Acompañamiento</label>
                <div class="control">
                  <div class="select is-boxed">
                    <select name="acomp" id="acomp" disabled>
                      {% for acomp in acomps %}
                        <option value="{{acomp.id}}">{{acomp.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

        </div>
    </section>
    <footer class="modal-card-foot">
        <button class="button is-text" id="close">Cerrar</button>
    </footer>
  </div>
</div>
</div>
</div>
