<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <!-- Bloque para el titulo de la pagina -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="web/bulma/bulma.min.css">
        <!-- Bloque para el CSS de cada template -->
        {% block my_css %}{% endblock %}
    </head>

    <body class="has-navbar-fixed-top">
        <nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">

                <a class="navbar-item" href="./?action=home" title="Logo Hospital">
                    <img src="web/src/images/logo.png" width="60" height="30" alt="Logo Hospital">
                </a>

                <div class="navbar-burger burger" data-target="nav-acciones">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="nav-acciones" class="navbar-menu">
                <div class="navbar-start">
                    <!-- navbar items izquierda -->
                    <p class="is-hidden-touch navbar-item">{{ page_config.titulo }}</p>
                    {% if loged_user %}
                        <a class="navbar-item" href="./?action=paciente_index">Pacientes</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <!-- navbar-link, navbar-dropdown etc. -->
                            <a class="navbar-link">Administración</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="./?action=usuario_index" >Usuarios</a>
                                <a class="navbar-item" >Roles</a>
                                <a class="navbar-item" >Permisos</a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="./?action=configuracion_index">Configuración</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="navbar-end">
                    <!-- navbar items derecha -->

                    {% if loged_user %}
                        <p class="is-hidden-touch navbar-item">{{ "#{loged_user.first_name} #{loged_user.last_name}" }}</p>
                        <a class="navbar-item" title="Salir" href="./?action=logout">
                            <span class="is-hidden-desktop">Salir
                            </span>
                            <i class="fas fa-sign-out-alt fa-lg is-hidden-touch"></i>
                        </a>
                    {% else %}
                        <a class="navbar-item" href="./?action=view_login">Ingresar</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if error %}
            <div id="error_noti" class="container notification is-danger">
                <button id="close_error" class="delete" title="Cerrar alerta"></button>
                {{ error }}
            </div>
        {% endif %}

        {% if success %}
            <div id="success_noti" class="container notification is-success">
                <button id="close_success" class="delete" title="Cerrar alerta"></button>
                {{ success }}
            </div>
        {% endif %}

        <div id="js_alert" class="container notification is-danger" hidden="hidden">
            <button id="close_alert" class="delete"></button>
            <p>El sitio está teniendo problemas para acceder a cierto contenido. Algunas funciones podrían no estar disponibles.</p>
        </div>

        <!-- Bloque del contendio del html -->
        {% block content %}{% endblock %}
        {% if page_config.estado == 'deshabilitado' %}
            <div class="notification is-warning">
                <button class="delete"></button>
                <i class="fas fa-exclamation-triangle"></i> El sitio se encuentra bajo
                <strong>mantenimiento </strong><i class="fas fa-wrench"></i>. El acceso se encuentra restringido solo a personal de  <strong>administracion</strong>. Disculpe las molestias.
            </div>
        {% endif %}
        <footer class="footer is-small">
            <div class="level">
                <div class="level-left">
                    <p class="level-item">
                        <strong>Proyecto de Software 2018</strong>-Hospital Dr. Alejandro Korn</p>
                </div>
                <div class="level-left">
                  <p class="level-item"> {{ page_config.descripcion }}
                </div>
                <div class="level-rigth">
                    <p class="level-item">v 0.1.0</p>
                    <p class="level-item"> Contacto: {{page_config.email }}</p>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="web/assets/jQuery/jquery-3.3.1.min.js"></script>
        <script src="web/fontawesome/js/all.min.js"></script>
        <script type="text/javascript" src="web/assets/js/base_template.js"></script>
        <!-- Bloque de js -->
        {% block my_js %}{% endblock %}

    </body>

</html>
