{% extends 'base_template.html' %} {% block title %}Home{% endblock %}
{% block content %}
<!--{% block titulo_del_hero %}Bienvenido!!!{% endblock %}-->
<section class="section">
  <div class = "columns">
     <div class="column">
       <article>
         <div class="content box">
            <h1 class="h1">Hola Mundo!</h1>
            {{page_config.columna_uno}}
         </div>
       </article>
     </div>
      <div class="column">
        <article>
          <div class="content box">
            <h1 class="h1">Hola Mundo!</h1>
              {{page_config.columna_dos}}
          </div>
        </article>
      </div>
      <div class="column">
        <article>
          <div class="content box">
             <h1 class="h1">Hola Mundo!</h1>
             {{page_config.columna_uno}}
           </div>
        </article>
      </div>
  </div>
</section>
{% endblock %}
