{% extends 'template.html' %} {% block title %}Home{% endblock %}
{% block content %}
        <div class = "row group">
            <div class = "column span">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacinia elit. Morbi vestibulum, purus nec euismod rutrum, orci velit porttitor leo, ac volutpat enim augue egestas leo. Phasellus eu risus viverra, lobortis elit nec, vulputate diam. Proin rhoncus enim in dolor cursus varius. Vestibulum nec lectus quis dui imperdiet ornare vel sed risus. Sed ac velit massa. In vestibulum tortor sed tincidunt porta.</p>
                <button type="button">Ver detalles > ></button>
            </div>
            <div class = "column span">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacinia elit. Morbi vestibulum, purus nec euismod rutrum, orci velit porttitor leo, ac volutpat enim augue egestas leo. Phasellus eu risus viverra, lobortis elit nec, vulputate diam. Proin rhoncus enim in dolor cursus varius. Vestibulum nec lectus quis dui imperdiet ornare vel sed risus. Sed ac velit massa. In vestibulum tortor sed tincidunt porta.</p>
                <button type="button">Ver detalles > ></button>
            </div>
            <div class = "column span">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacinia elit. Morbi vestibulum, purus nec euismod rutrum, orci velit porttitor leo, ac volutpat enim augue egestas leo. Phasellus eu risus viverra, lobortis elit nec, vulputate diam. Proin rhoncus enim in dolor cursus varius. Vestibulum nec lectus quis dui imperdiet ornare vel sed risus. Sed ac velit massa. In vestibulum tortor sed tincidunt porta.</p>
                <button type="button">Ver detalles > ></button>
            </div>
        </div>
{% endblock %}
