{% extends 'base_template.html' %} {% block title %}Usuarios{% endblock %}
{% block my_css %}
<link rel="stylesheet" type="text/css" href="web/assets/dataTables/datatables.min.css" />
{% endblock %}
{% block content %}
<!--{% block titulo_del_hero %}Usuarios{% endblock %}-->
<section class="section">
  {% if 'usuario_new' in permisos %}
  <div class="container">
     <a id="showAddUser" class="button is-success">Agregar Usuario</a>
  </div>
  {% endif %}
</section>
<section class="section">
<div class="container is-fluid">
  <div class="box has-text-centered">
      <table class="table display responsive no-wrap" width="100%" id="tabla" data-page-length='{{page_config.paginado}}'>
        <thead>
          <tr>
            <th>#</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>e-mail</th>
            <th>Nombre de usuario</th>
            <th>Estado</th>
            <!-- <th>Roles</th> -->
            <th data-priority="-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            {% if user.activo == 1 %}
              <td>Activo</td>
            {% else %}
              <td>Bloqueado</td>
            {% endif %}
            <!-- <td>
            {% for rol in user.roles %}
               {{ rol }}
            {% endfor %}
            </td> -->
            <td>
              {% if 'usuario_show' in permisos %}
                <button class="button_view button is-success" title="Ver"><i class="far fa-eye"></i></button>
              {% endif %}
                <input class="user_id" value="{{ user.id }}" hidden></input>
              {% if 'usuario_update' in permisos %}
                <button class="button_edit button is-success" title="Editar"><i class="far fa-edit"></i></button>
              {% endif %}
              {% if 'usuario_destroy' in permisos %}
                <button class="button_delete button is-danger"  title="Eliminar"><i class="far fa-trash-alt"></i></button>
              {% endif %}
              {% if user.activo == 1 %}
                <button class="button_block button is-danger">Bloquear</button>
              {% else %}
                <button class="button_unblock button is-success">Desbloquear</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</section>

<!-- modals con los formularios para agregar, ver y quitar un usuario-->
{% include "modal_users/add_user.html" %}
{% include "modal_users/view_user.html" %}
{% include "modal_users/delete_user.html" %}
{% include "modal_users/block_user.html" %}
<!-- Hasta acá el modal-->

{% endblock %}

{% block my_js %}
  <script type="text/javascript" src="web/assets/js/list_users.js"></script>
  <script type="text/javascript" src="web/assets/dataTables/datatables.min.js"></script>
  <script type="text/javascript" src="web/assets/js/data_tables.js"></script>
  <script type="text/javascript" src="web/assets/jQueryValidation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="web/assets/jQueryValidation/dist/additional_methods.min.js"></script>
  <script type="text/javascript" src="web\assets\jQueryValidation\dist\localization\messages_es_AR.min.js"></script>
{% endblock %}
