{% extends 'base_template.html' %} {% block title %}Usuarios{% endblock %}

{% block my_css %}
  <link rel="stylesheet" type="text/css" href="web/assets/dataTables/datatables.min.css"/>
{% endblock %}

{% block content %}
<!--{% block titulo_del_hero %}Usuarios{% endblock %}-->
<section class="section">
  <div class="container">
     <a id="showAddUser" class="button is-primary modal-button">Agregar Usuario</a>
 </div>
</section>

<!--Contenido del modal con el formulario para agregar usuario-->
<div class="modal" id="addUser">
  <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Completar formulario</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <form class="form" action="?action=usuario_new" method="post">
          <div class="field">
            <label class="label">Apellido*</label>
            <div class="control">
              <input type="text" class="input" name="apellido">
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre*</label>
            <div class="control">
              <input type="text" class="input" name="nombre" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Email*</label>
            <div class="control">
              <input type="email" class="input" name="email" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre de usuario*</label>
            <div class="control">
              <input type="text" class="input" name="username" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Qué roles desea asignarle?</label>
            {% for rol in roles %}
              <div class="control">
                  <div class="checkbox">
                      <label>{{ rol.nombre }}</label>
                      <input name="roles[]" class="styled" type="checkbox" value="{{ rol.nombre }}">
                  </div>
              </div>
            {% endfor %}
          </div>

          <!-- <div class="field">
            <label class="label">Qué roles desea asignarle?</label>
            <div class="control">
                <div class="b-checkbox">
                    <label>Administrador</label>
                    <input id="checkbox" name="roles[]" class="styled" type="checkbox" value="Administrador">
                </div>
            </div>
            <div class="field">
              <div class="control">
                  <div class="b-checkbox">
                      <label>Equipo de Guardia</label>
                      <input id="checkbox" name="roles[]" class="styled" type="checkbox" value="Equipo de Guardia">
                  </div>
              </div>
            </div>
          </div> -->
          <div class="field">
            <label class="label">Contraseña*</label>
            <div class="control">
              <input type="password" class="input" name="password" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Confirmar contraseña*</label>
            <div class="control">
              <input type="password" class="input" name="re_password" required>
            </div>
          </div>
          <button type="submit" class="button is-success" value="add_user">Guardar</button>
          <button id="cancel" class="button">Cancelar</button>
        </form>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- Hasta acá el modal-->

<!-- Datatables -->
<div class="container is-fluid">
  <div class="box has-text-centered">
      <table id="tabla" class="table" data-page-length='20'> <!-- ese 10 a ser cambiado por la var del config -->
        <thead>
          <tr>
            <th>#</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>e-mail</th>
            <th>Nombre de usuario</th>
            <th>Rol</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>
            {% for rol in user.roles %}
               {{ rol }}
            {% endfor %}
            </td>
            <td><button class="button_v button is-primary"><i class="far fa-eye"></i></button>
              <input class="user_id" value="{{user.id}}" hidden></input>
            </td>
            <td><button class="button_e button is-primary"><i class="far fa-edit"></i></button></td>
            <td><button class="button_d button is-primary"><i class="far fa-trash-alt"></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}

{% block my_js %}

  <script type="text/javascript" src="web/assets/js/list_users.js"></script>
  <script type="text/javascript" src="web/assets/dataTables/datatables.min.js"></script>
  <script type="text/javascript" src="web/assets/js/data_tables.js"></script>

{% endblock %}
