{% extends 'base_template.html' %} {% block title %}Pacientes{% endblock %}
{% block my_css %}
  <link rel="stylesheet" type="text/css" href="web/assets/dataTables/datatables.min.css"/>
{% endblock %}
{% block content %}
<!--{% block titulo_del_hero %}Pacientes{% endblock %}-->
<section class="section">
  <div class="container">
    <div class="level">
<div class="level-left">
     <button id="showAddPatient" class="button is-primary">Agregar paciente</button>
</div>
     <div class="level-right">
     <form action="?action=add_nn" method="POST">
       <button type="submit" class="button is-primary">Agregar NN</button>
    </form>
  </div>
  </div>
 </div>
</section>
<div class="container is-fluid">
<div class="box has-text-centered">
  <table class="table" id="t_pacientes" data-page-length='10'> <!-- ese 10 a ser cambiado por la var del config -->
    <thead>
      <tr>
        <th>#</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Tipo documento</th>
        <th>Numero documento</th>
        <th>Historia clínica</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in patient_list %}
      <tr>
        <th>1</th>
        <td>{{paciente.apellido}}</td>
        <td>{{paciente.nombre}}</td>
        <td>{{paciente.tipo_doc_id}}</td>
        <td>{{paciente.numero}}</td>
        <td>{{paciente.nro_historia_clinica}}</td>
        <td><button class="button_v button is-primary">V</button>
          <input class="p_id" value="{{paciente.id}}" hidden></input>
        </td>
        <td><button class="button_e button is-primary">E</button></td>
        <td><button class="button_d button is-primary">B</button></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
</div>

<!---- modals ----------------------------------------------------->
<div class="modal" id="addPatient">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="container is-fluid">
      <form action="?action=add_patient" method="POST">
      <div class="box">
        <p class="title">
          <p>

            <div class="columns">
              <div class="column">

                <div class="field">
                  <label class="label">Apellido*</label>
                  <div class="control">
                    <input type="text" class="input is-boxed" name="apellido" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Fecha de nacimiento*</label>
                  <div class="control">
                    <input type="date" class="input is-boxed" name="dob" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Partido</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select id="partido" name="partido" required>
                        <option value=""> Partido </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Localidad</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select name="localidad" id="localidad" required>
                        <option value=1>Localidad</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Género*</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select name="genero" required>
                        <option value=1>Masculino</option>
                        <option value=2>Femenino</option>
                        <option value=3>Otro</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Tipo de documento*</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select name="typedoc" required>
                        {% for tipo in tipo_doc %}
                        <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Tel/Cel</label>
                  <div class="control">
                    <input type="number" class="input is-boxed" name="telefono">
                  </div>
                </div>

              </div>
              <div class="column">

                <div class="field">
                  <label class="label">Nombre*</label>
                  <div class="control">
                    <input type="text" class="input is-boxed" name="nombre" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Lugar de nacimiento</label>
                  <div class="control">
                    <input type="text" class="input is-boxed" name="dobplace">
                  </div>
                </div>

                <div class="field">
                  <label class="label">Región sanitaria</label>
                  <div class="control">
                    <input type="text" class="input is-boxed" id="region_s" name="region" readonly>
                     <input type="hidden" id="region_id" name="regions">
                  </div>
                </div>


                <div class="field">
                  <label class="label">Domicilio*</label>
                  <div class="control">
                    <input type="text" class="input is-boxed" name="domicilio" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Tiene en su poder su documento*</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select name="doccheck" required>
                        <option value=1>SÍ</option>
                        <option value=0>NO</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Número de documento*</label>
                  <div class="control">
                    <input type="number" class="input is-boxed" name="numdoc" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Número de carpeta</label>
                  <div class="control">
                    <input type="number" max="99999" class="input is-boxed" name="numcarpeta">
                  </div>
                </div>

                <div class="field">
                  <label class="label">Obra social</label>
                  <div class="control">
                    <div class="select is-boxed">
                      <select name="obra_social" required>
                        {% for os in obras_sociales %}
                        <option value="{{os.id}}">{{os.nombre}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

              </div>
            </div>
    </div>
              <p>* campos obligatorios</p>
            <div class="box has-text-centered">
              <button type="submit" class="button is-primary" value="add_patient">Agregar</button>
              <a class="button is-text" id="cancel">Cancelar</a>
            </div>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<div class="modal" id="viewPatient">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="container is-fluid">
      <div class="box">
        <p class="title">
          <p>

            <div class="columns">
              <div class="column">

                <div class="field">
                  <label class="label">Apellido*</label>
                  <div class="control">
                    <input id="v_apellido" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Fecha de nacimiento*</label>
                  <div class="control">
                    <input id="v_dob" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Partido</label>
                  <div class="control">
                    <input id="v_partido" class="is-boxed" value="" readonly></input>
                    </div>
                  </div>

                <div class="field">
                  <label class="label">Localidad</label>
                  <div class="control">
                      <input id="v_localidad" class="is-boxed" value="" readonly></input>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Género*</label>
                  <div class="control">
                      <input id="v_genero" class="is-boxed" value="" readonly></input>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Tipo de documento*</label>
                  <div class="control">
                      <input id="v_tipodoc" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Tel/Cel</label>
                  <div class="control">
                    <input id="v_tel" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

              </div>
              <div class="column">

                <div class="field">
                  <label class="label">Nombre*</label>
                  <div class="control">
                    <input id="v_nombre" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Lugar de nacimiento</label>
                  <div class="control">
                    <input id="v_dobplace" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Región sanitaria</label>
                  <div class="control">
                    <input id="v_region" class="is-boxed" value="" readonly></input>
                  </div>
                </div>


                <div class="field">
                  <label class="label">Domicilio*</label>
                  <div class="control">
                    <input id="v_domicilio" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Tiene en su poder su documento*</label>
                  <div class="control">
                      <input id="v_tienedoc" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Número de documento*</label>
                  <div class="control">
                    <input id="v_numdoc" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Número de carpeta</label>
                  <div class="control">
                    <input id="v_numcarpeta" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Obra social</label>
                  <div class="control">
                      <input id="v_obrasocial" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Número de historia clínica</label>
                  <div class="control">
                      <input id="v_hc" class="is-boxed" value="" readonly></input>
                  </div>
                </div>

              </div>
            </div>
            <div class="box has-text-centered">
              <a class="button is-text" id="close">Cerrar</a>
            </div>
    </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>


<!---- fin modals -------------------------------------------------->
{% endblock %}
{% block my_js %}
  <script type="text/javascript" src="web/assets/js/scripts.js"></script>
  <script type="text/javascript" src="web/assets/dataTables/datatables.min.js"></script>
  <script> $(document).ready( function () {
    $('#t_pacientes').DataTable({
      "lengthChange": false,
      language: {
        "decimal": "",
        "emptyTable": "No se encontró información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
      }
    }
    });
} );</script>
  <script>
    $(document).ready(function(){
      $('#showAddPatient').on("click",function(){
        $('#addPatient').fadeIn();
      });
      $('.modal-close').on("click",function(){
        $('#addPatient').fadeOut();
      });
      $('#cancel').on("click",function(){
        $('#addPatient').fadeOut();
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $('#t_pacientes').on("click",".button_v",function(){
        var id_paciente= $(this).closest('tr').find('.p_id').val();
        $.ajax({
          method: "POST",
          url: "./?action=view_patient",
          data: { id: id_paciente}
        })
          .done(function(paciente){
            var p=JSON.parse(paciente);
            console.log(p);
            $('#v_nombre').val(p[0].nombre);
            $('#v_apellido').val(p[0].apellido);
            $('#v_dob').val(p[0].fecha_nac);
            $('#v_localidad').val(p[0].localidad_id.nombre);
            if(p[0].genero_id=="1"){
              $('#v_genero').val("Masculino");
            }else if (p[0].genero_id=="2") {
              $('#v_genero').val("Femenino");
            }else {
              $('#v_genero').val("Otro");
            }
            $('#v_tipodoc').val(p[0].tipo_doc_id.nombre);
            $('#v_tel').val(p[0].tel);
            $('#v_dobplace').val(p[0].lugar_nac);
            $('#v_region').val(p[0].region_sanitaria_id.nombre);
            $('#v_domicilio').val(p[0].domicilio);
            if(p[0].tiene_documento=="1"){
              $('#v_tienedoc').val("Sí");
            }else {
              $('#v_tienedoc').val("No");
            }
            $('#v_numdoc').val(p[0].numero);
            $('#v_numcarpeta').val(p[0].nro_carpeta);
            $('#v_obrasocial').val(p[0].obra_social_id.nombre);
            $('#v_hc').val(p[0].nro_historia_clinica);

          });
          $('#t_pacientes').on("click",".button_v",function(){
            $('#viewPatient').fadeIn();
          });
      });

      $('.modal-close').on("click",function(){
        $('#viewPatient').fadeOut();
      });
      $('#close').on("click",function(){
        $('#viewPatient').fadeOut();
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $('#t_pacientes').on("click",".button_e",function(){
        var id_paciente= $(this).closest('tr').find('.p_id').val();
        $.ajax({
          method: "POST",
          url: "./?action=view_patient",
          data: { id: id_paciente}
        })
          .done(function(paciente){
            console.log(paciente);
          });
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $('#t_pacientes').on("click",".button_d",function(){
        var id_paciente= $(this).closest('tr').find('.p_id').val();
        console.log(id_paciente);
        $.ajax({
          method: "POST",
          url: "./?action=view_patient",
          data: { id: id_paciente}
        })
          .done(function(paciente){
          });
      });
    });
  </script>
{% endblock %}
