{% extends 'base.html.twig' %}

{% block title %}Edit TratamientoFarmacologico{% endblock %}

{% block body %}
    <h1>Edit TratamientoFarmacologico</h1>

    {{ include('tratamiento_farmacologico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tratamiento_farmacologico_index') }}">back to list</a>

    {{ include('tratamiento_farmacologico/_delete_form.html.twig') }}
{% endblock %}
